<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>首页_小彬个人博客 - 后端技术员个人博客网站</title>
<meta name="keywords" content="个人博客,小彬个人博客，程序员" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="http://www.gd-filmfund.cn/static/css/toastr.min.css" rel="stylesheet">
<link href="css/base.css" rel="stylesheet">
<link href="css/index.css" rel="stylesheet">
<link href="css/m.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

<header class="header-navigation">
	
</header>

<article>
	<div class="picbox">
		<ul>
			<li v-for="albumInfo in albumList[0]" data-scroll-reveal="enter bottom over 1s">
				<a :href="'album.html#'+ albumInfo.album_id">
					<i><img :src="albumInfo.thumb_url || 'images/default_thumb_264x176.jpg'"></i>
					<div class="picinfo">
						<h3>{{ albumInfo.title }}</h3>
						<span>{{ albumInfo.description }}</span>
					</div>
				</a>
			</li>
		</ul>
		<ul>
			<li v-for="albumInfo in albumList[1]" data-scroll-reveal="enter bottom over 1s">
				<a :href="'album.html#'+ albumInfo.album_id">
					<i><img :src="albumInfo.thumb_url || 'images/default_thumb_264x176.jpg'"></i>
					<div class="picinfo">
						<h3>{{ albumInfo.title }}</h3>
						<span>{{ albumInfo.description }}</span>
					</div>
				</a>
			</li>
		</ul>
		<ul>
			<li v-for="albumInfo in albumList[2]" data-scroll-reveal="enter bottom over 1s">
				<a :href="'album.html#'+ albumInfo.album_id">
					<i><img :src="albumInfo.thumb_url || 'images/default_thumb_264x176.jpg'"></i>
					<div class="picinfo">
						<h3>{{ albumInfo.title }}</h3>
						<span>{{ albumInfo.description }}</span>
					</div>
				</a>
			</li>
		</ul>
		<ul>
			<li v-for="albumInfo in albumList[3]" data-scroll-reveal="enter bottom over 1s">
				<a :href="'album.html#'+ albumInfo.album_id">
					<i><img :src="albumInfo.thumb_url || 'images/default_thumb_264x176.jpg'"></i>
					<div class="picinfo">
						<h3>{{ albumInfo.title }}</h3>
						<span>{{ albumInfo.description }}</span>
					</div>
				</a>
			</li>
		</ul>
	</div>
	<div class="pagelist">
		<span class="thispage">{{ page.thisPage }}</span> &nbsp;
		<a href="javascript:page.firstPage()">首页</a>
		<a href="javascript:page.subPage()">上一页</a>
		<a href="javascript:page.addPage()">下一页</a>
		<a href="javascript:page.lastPage()">末页</a> &nbsp;
		<span class="allpage">一共<b>{{ page.totalPage }}</b>页</span>
	</div>
</article>

<footer>
	
</footer>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="http://www.gd-filmfund.cn/static/js/toastr.min.js"></script>
<script src="js/config.js"></script>
<script src="js/common.js"></script>
<script src="js/commAction.js"></script>
<script src="js/Page.js"></script>
<script type="text/javascript">
	loadHtml('tpl/header.tpl', document.querySelector('header'));
	loadHtml('tpl/footer.tpl', document.querySelector('footer'));
	
	var vueDom = new Vue({
		el: 'article',
		data: {
			albumList: [],
			page: {
				thisPage: 1,
				totalPage: 1,
			},
		},
	});
	
	function search() {
		var query = {
			page: page.page,
			limit: page.limit,
		}
		ajax('get', '/album/getList', query, function(res) {
			var albumList = res.list;
			var newAlbumList = [
				[],[],[],[]
			];
			for(var i = 0; i < albumList.length; i++) {
				newAlbumList[i%4].push(albumList[i]);
			}
			//渲染
			vueDom.albumList = newAlbumList;
			//页码填充
			vueDom.page.thisPage = page.page;
			page.totalPage = Math.ceil(res.count/page.limit);
			vueDom.page.totalPage = page.totalPage;
			//保存查询条件
			sessionStorage.setItem(window.location.pathname +'_query', JSON.stringify(query));
		});
	}
	
	var page = new Page(search);
	
	(function() {
		page.limit = 8;
		var query = sessionStorage.getItem(window.location.pathname +'_query');
		if(query) {
			query = JSON.parse(query);
			page.page = query.page;
			page.limit = query.limit;
		}
		search();
	})();
</script>
</body>
</html>