<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>留言板_小彬个人博客 - 后端技术员个人博客网站</title>
	<meta name="keywords" content="个人博客,小彬个人博客，程序员" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/base.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
	<link href="css/article.css" rel="stylesheet">
	<link href="css/m.css" rel="stylesheet">
	<script type="text/javascript" src="js/vue.js"></script>
</head>
<body>
<header class="header-navigation" id="header">
	
</header>

<article>
	<aside>
		<div class="l_box">
			<div class="about_me">
				<h2>关于我</h2>
				<ul>
					<i><img :src="userInfo.head_img_url"></i>
					<p>{{ userInfo.description }}</p>
				</ul>
			</div>
			<div class="wdxc">
				<h2>我的相册</h2>
				<ul>
					<li v-for="albumInfo in albumRecommendList">
						<a :href="'album.html#'+ albumInfo.album_id"><img :title="albumInfo.title" :src="albumInfo.thumb_path"></a>
					</li>
				</ul>
			</div>
			<div class="guanzhu">
				<h2>关注我 么么哒</h2>
				<ul>
					<img :src="userInfo.share_code_img_url">
				</ul>
			</div>
		</div>
	</aside>
	
	<div class="infosbox">
		<div class="news_pl">
			<h2>留言板（{{ commentNum }}）</h2>
			<form style="padding: 20px;" onsubmit="return addComment(this)">
				<div class="baseinfo-box">
					<label>您的名称：<input type="text" name="name" pattern=".{0,20}" title="20字以内" placeholder="选填" class="input" /></label> &nbsp;&nbsp;&nbsp;
					<label>联系方式：<input type="text" name="connection" max=".{0,50}" title="50字以内" placeholder="选填" class="input" /></label>
				</div>
				<script id="editor_add" name="content" type="text/plain" style="width:100%;height: 135px;"></script>
				<div class="btn-box">
					<input type="submit" class="submit" value="留言" />
				</div>
			</form>
			<ul>
				<template v-if="commentList.length > 0">
					<li v-for="comment in commentList">
						<img class="head" src="images/comment_user.png">
						<div class="comment-box">
							<div class="content">
								<span v-html="comment.content"></span>
							</div>
							<div class="info">
								<span>{{ comment.name=='' ? '匿名' : comment.name }}[{{ comment.connection=='' ? '无' : comment.connection }}]</span>&nbsp;
								<span>留言于{{ comment.add_time | timestampToStr }}</span>
							</div>
						</div>
					</li>
				</template>
				<template v-else="">
					<li style="text-align: center;">暂无留言，快来坐沙发吧~</li>
				</template>
			</ul>
			<div class="more">
				<button v-if="commentList.length > 0" class="btn" onclick="page.addPage()">加载更多</button>
			</div>
		</div>
	</div>
</article>

<footer>
	
</footer>

<script type="text/javascript" src="js/commAction.js"></script>
<script type="text/javascript" src="js/config.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/Page.js"></script>
<!--ueditor编辑器-->
<script src="plugins/ueditor/ueditor.config.js"></script>
<script src="plugins/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript">
	loadHtml('tpl/header.tpl', document.querySelector('header'));
	loadHtml('tpl/footer.tpl', document.querySelector('footer'));
	
	var vueDom = new Vue({
		el: 'article',
		data: {
			userInfo: {},
			albumRecommendList: [],
			commentList: [],
			commentNum: 0,
		},
		filters: {
			timestampToStr: function(value) {
				return timestampToStr(value);
			},
		},
	});
	
	//评论列表
	function getComment() {
		ajax('get', '/comment/getList', {
			page: page.page,
			limit: page.limit,
		}, function(res) {
			res.list.forEach(function(row) {
				vueDom.commentList.push(row);
			});
			page.totalPage = Math.ceil(res.count/page.limit);
			vueDom.commentNum = res.count;
		});
	}
	//评论分页
	var page = new Page(getComment);
	page.limit = 5;
	
	getComment();
	
	//文本编辑器
	//实例化编辑器
	window.UEDITOR_CONFIG.serverUrl = DOMAIN + '/ueditor/index?type=comment';//type决定上传到哪个目录
	var editor_add = UE.getEditor('editor_add');
	
	ajax('get', '/index/index', null, function(res) {
		vueDom.userInfo = res.userInfo;
	});
	ajax('get', '/album/getRecommend', null, function(res) {
		vueDom.albumRecommendList = res;
	});
	
	//发表留言
	function addComment(form) {
		var data = getFormObj(form);
		if(!editor_add.hasContents()) {
			alert('留言内容不得为空');
			return false;
		}
		var submitBtn = form.querySelector('[type="submit"]');
		submitBtn.disabled = true;
		ajax('post', '/comment/add', data, function(res) {
			editor_add.execCommand('cleardoc');
			vueDom.commentList = [];
			page.page = 1;
			getComment();
		}, null, function end() {
			submitBtn.disabled = false;
		});
		return false;
	}
</script>
</body>
</html>