<#include "layout/layout.html">

<#macro head>
<title>关于我_小彬个人博客 - 后端技术员个人博客网站</title>
<link href="${ STATIC_DOMAIN }/css/article.css" rel="stylesheet">
<style type="text/css">
	@media only screen and (max-width: 767px) {
		.l_box{display: none;}
	}
</style>
</#macro>

<#macro mainBody>
<article>
	<aside>
		<div class="l_box">
			<loadhtml url="/common/aboutme.html"></loadhtml>
			<loadhtml url="/common/wdxc.html"></loadhtml>
			<loadhtml url="/common/guanzhu.html"></loadhtml>
		</div>
	</aside>
	<div class="r_box">
		<div class="about">
			<div>
				${ aboutInfo.aboutme }
			</div>
		</div>
	</div>
</article>
</#macro>

<#macro js>
	
</#macro>