<#include "layout/layout.html">

<#macro head>
<link href="${ STATIC_DOMAIN }/css/album.css" rel="stylesheet">
<!--相册插件-->
<link href="${ STATIC_DOMAIN }/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">
<!--表情转图片-->
<link href="https://cdn.staticfile.org/emoji/0.2.2/emoji.css" rel="stylesheet" type="text/css" />
<style>
	@media only screen and (max-width: 767px) {
		.l_box{ display: none; }
	}
	.lightBoxGallery{ font-size: 0; }
	.img-box{ max-height: 200px; overflow: hidden; display: inline-block;position: relative; vertical-align: middle; margin: 10px 0; padding: 0 6px; box-sizing: border-box; }
	@media (min-width: 500px) {
		.img-box{ width: 50%; }
	}
	@media (min-width: 768px) {
		.img-box{ width: 33.3333%; }
	}
	@media (min-width: 992px) {
		.img-box{ width: 25%; }
	}
	.img-box .delete{ position: absolute; top: 10px; right: 22px; cursor: pointer; opacity: 0.8; }
	.img-box .delete:hover{ opacity: 1; }
	.img-box img{ width: 100%; }
	
	.ck-content{ min-height: 150px; }
</style>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
</#macro>

<#macro mainBody>
<article>
	<aside>
		<div class="l_box">
			<loadhtml url="/common/wdxc.html"></loadhtml>
			<loadhtml url="/common/guanzhu.html"></loadhtml>
		</div>
	</aside>
	
	<div class="picsbox">
		<div style="padding: 15px 20px 20px;">
			<h2>${ albumInfo.title }</h2>
			<p>${ albumInfo.description }</p>
			<div class="lightBoxGallery">
				<#list imgList as imgInfo>
					<span class="img-box">
						<a href="${ imgInfo.url }" title="${ imgInfo.name }" data-gallery="">
							<img src="${ imgInfo.thumbUrl }">
						</a>
					</span></#list>
				<div id="blueimp-gallery" class="blueimp-gallery">
					<div class="slides"></div>
					<h3 class="title"></h3>
					<a class="prev">‹</a>
					<a class="next">›</a>
					<a class="close">×</a>
					<a class="play-pause"></a>
					<ol class="indicator"></ol>
				</div>
			</div>
		</div>
		
		<div class="share">
			<p class="diggit">
				<button onclick="like(this)"> 很赞哦！ (<b>{{ like_num }}</b>)</button>
			</p>
		</div>
		
		<div class="news_pl">
			<h2>文章评论（{{ commentNum }}）</h2>
			<form style="padding: 20px;" onsubmit="return addComment(this)">
				<div class="baseinfo-box">
					<label>您的名称：<input type="text" name="name" pattern=".{0,20}" title="20字以内" placeholder="选填" class="input" /></label> &nbsp;&nbsp;&nbsp;
					<label>联系方式：<input type="text" name="connection" max=".{0,50}" title="50字以内" placeholder="选填" class="input" /></label>
				</div>
				<div id="editor"></div>
				<div class="btn-box">
					<input type="submit" class="submit" value="评论" />
				</div>
			</form>
			<ul>
				<template v-if="commentList.length > 0">
					<li v-for="comment in commentList">
						<img class="head" src="${ STATIC_DOMAIN }/images/comment_user.png">
						<div class="comment-box">
							<div class="content">
								<div v-emoji2img="" v-html="comment.content"></div>
							</div>
							<div class="info">
								<span>{{ comment.name=='' ? '匿名' : comment.name }}[{{ comment.connection=='' ? '无' : comment.connection }}]</span>&nbsp;
								<span>评论于{{ comment.add_time | timestampToStr }}</span>
							</div>
						</div>
					</li>
				</template>
				<template v-else="">
					<li style="text-align: center;">暂无评论，快来坐沙发吧~</li>
				</template>
			</ul>
			<div class="more">
				<button v-if="commentList.length > 0" class="btn" onclick="page.addPage()">加载更多</button>
			</div>
		</div>
	</div>
</article>
</#macro>

<#macro js>
<!--相册插件-->
<script src="${ STATIC_DOMAIN }/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
<script src="${ STATIC_DOMAIN }/js/Page.js"></script>
<!--表情转图片-->
<script src="https://cdn.staticfile.org/emoji/0.2.2/emoji.js"></script>
<script type="text/javascript">
	var album_id = ${ albumInfo.album_id };
	
	var vueDom = new Vue({
		el: '.picsbox',
		data: {
			like_num: 0,
			commentList: [],
			commentNum: 0,
		},
		filters: {
			timestampToStr: function(value) {
				return timestampToStr(value);
			},
		},
	});
	Vue.directive('emoji2img', function(el) {
		el.innerHTML = jEmoji.unifiedToHTML(el.innerHTML);
	});
	
	
	(function() {
		//点赞数
		ajax('get', '/album/getLikeNum', {
			album_id: album_id,
		}, function(res) {
			vueDom.like_num = res.like_num;
		});
	})();
</script>
<!--ckeditor编辑器-->
<script src="http://47.107.246.194/ckeditor5/ckeditor.js"></script>
<script type="text/javascript">
	//评论列表
	function getComment() {
		ajax('get', '/albumComment/getList', {
			album_id: album_id,
			page: page.page,
			limit: page.limit,
		}, function(res) {
			res.list.forEach(function(row) {
				vueDom.commentList.push(row);
			});
			page.totalPage = Math.ceil(res.count/page.limit);
			vueDom.commentNum = res.count;
		});
	}
	
	(function() {
		//评论分页
		window.page = new Page(getComment);
		page.limit = 2;
		page.page = 1;
		//获取评论列表
		getComment();
		
		//留言编辑器
		ClassicEditor.create(document.querySelector('#editor'), {
				toolbar: {
					items: [
						'emoji',
					],
				},
			})
			.then(function(editor) {
				window.editor = editor;
			})
			.catch(function(error) {
				console.error(error);
			});
	})();
	
	//发表评论
	function addComment(form) {
		var data = getFormObj(form);
		data.album_id = album_id;
		data.content = editor.getData();
		if(data.content == '') {
			alert('留言内容不得为空');
			return false;
		}
		var submitBtn = form.querySelector('[type="submit"]');
		submitBtn.disabled = true;
		ajax('post', '/albumComment/add', data, function(res) {
			editor.setData('');
			vueDom.commentList = [];
			page.page = 1;
			getComment();
		}, null, function end() {
			submitBtn.disabled = false;
		});
		return false;
	}
	
	//点赞
	function like(btn) {
		btn.disabled = true;
		var is_like = localStorage.getItem('album_like_'+ album_id);
		if(is_like) {
			alert('您已经为本相册点过赞');
			btn.disabled = false;
			return;
		}
		ajax('post', '/album/like', {
			album_id: album_id,
		}, function(res) {
			vueDom.like_num += 1;
			localStorage.setItem('album_like_'+ album_id, 1);
		}, null, function end() {
			btn.disabled = false;
		});
	}
</script>
</#macro>