<#include "common/layout.html">

<#macro head>

</#macro>

<#macro mainBody>
<article>
	<div class="picbox">
		<ul>
		<#list albumBox.list as albumInfo>
			<#if (albumInfo_index%4 == 0)>
			<li data-scroll-reveal="enter bottom over 1s">
				<a href="/album/${ albumInfo.album_id }.html">
					<i><img src="${ albumInfo.thumb_url ! STATIC_DOMAIN+'/images/default_thumb_264x176.jpg' }"></i>
					<div class="picinfo">
						<h3>${ albumInfo.title }</h3>
						<span>${ albumInfo.description }</span>
					</div>
				</a>
			</li>
			</#if>
		</#list>
		</ul>
		<ul>
		<#list albumBox.list as albumInfo>
			<#if (albumInfo_index%4 == 1)>
			<li data-scroll-reveal="enter bottom over 1s">
				<a href="/album/${ albumInfo.album_id }.html">
					<i><img src="${ albumInfo.thumb_url ! STATIC_DOMAIN+'/images/default_thumb_264x176.jpg' }"></i>
					<div class="picinfo">
						<h3>${ albumInfo.title }</h3>
						<span>${ albumInfo.description }</span>
					</div>
				</a>
			</li>
			</#if>
		</#list>
		</ul>
		<ul>
		<#list albumBox.list as albumInfo>
			<#if (albumInfo_index%4 == 2)>
			<li data-scroll-reveal="enter bottom over 1s">
				<a href="/album/${ albumInfo.album_id }.html">
					<i><img src="${ albumInfo.thumb_url ! STATIC_DOMAIN+'/images/default_thumb_264x176.jpg' }"></i>
					<div class="picinfo">
						<h3>${ albumInfo.title }</h3>
						<span>${ albumInfo.description }</span>
					</div>
				</a>
			</li>
			</#if>
		</#list>
		</ul>
		<ul>
		<#list albumBox.list as albumInfo>
			<#if (albumInfo_index%4 == 3)>
			<li data-scroll-reveal="enter bottom over 1s">
				<a href="/album/${ albumInfo.album_id }.html">
					<i><img src="${ albumInfo.thumb_url ! STATIC_DOMAIN+'/images/default_thumb_264x176.jpg' }"></i>
					<div class="picinfo">
						<h3>${ albumInfo.title }</h3>
						<span>${ albumInfo.description }</span>
					</div>
				</a>
			</li>
			</#if>
		</#list>
		</ul>
	</div>
	<div class="pagelist">
		<span class="thispage">${ page.thisPage }</span> &nbsp;
		<a href="${ page.firstPage }.html">首页</a>
		<a href="${ page.lastPage }.html">上一页</a>
		<a href="${ page.nextPage }.html">下一页</a>
		<a href="${ page.endPage }.html">末页</a> &nbsp;
		<span class="allpage">一共<b>${ page.endPage }</b>页</span>
	</div>
</article>
</#macro>

<#macro js>

</#macro>