<#include "layout/layout.html">

<#macro head>
<link href="${ STATIC_DOMAIN }/css/article.css" rel="stylesheet">
<!--代码上色-->
<link href="${ STATIC_DOMAIN }/plugins/highlight/styles/monokai-sublime.css" rel="stylesheet" />
<!--表情转图片-->
<link href="https://cdn.staticfile.org/emoji/0.2.2/emoji.css" rel="stylesheet" type="text/css" />
<style type="text/css">
	@media only screen and (max-width: 767px) {
		.l_box{ display: none; }
	}
	.ck-content{ min-height: 150px; }
</style>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
</#macro>

<#macro mainBody>
<article>
	<aside>
		<div class="l_box">
			<div class="search">
				<form id="search-form">
					<input type="text" name="title" class="input_text" placeholder="请输入关键字查询相关文章">
					<input type="submit" class="input_submit" value="搜索">
				</form>
			</div>
			<loadhtml url="/common/fenlei.html"></loadhtml>
			<loadhtml url="/common/tuijian.html"></loadhtml>
			<loadhtml url="/common/guanzhu.html"></loadhtml>
		</div>
	</aside>
	
	<div class="infosbox">
		<div class="newsview">
			<h2 class="news_title">${ articleInfo.title }</h2>
			<div class="bloginfo">
				<ul>
					<li><b>分类：</b><a href="/articleList/${ articleInfo.type_id }/1.html" style="text-decoration: underline;">${ articleInfo.type }</a></li>
					<li><b>阅读数：</b>{{ articleInfo.read_num }}</li>
					<li><b>置顶：</b>${ articleInfo.is_recommend ? string("是", "否")}</li>
					<li><b>发表时间：</b>${ (articleInfo.add_time*1000)?number_to_datetime?string("yyyy-MM-dd HH:mm:ss")}</li>
				</ul>
			</div>
			<div class="tags">
				<#if (articleInfo.key_words != "")>
					<#list articleInfo.key_words?split(" ") as key_word>
						<a>${ key_word }</a>
					</#list>
				</#if>
			</div>
			<div class="news_about">
				${ articleInfo.description?html }
			</div>
			<div class="news_con">
				${ articleInfo.content }
			</div>
		</div>
		<div class="share">
			<p class="diggit">
				<button onclick="like(this)"> 很赞哦！ (<b>{{ articleInfo.like_num }}</b>)</button>
			</p>
		</div>
		<div class="nextinfo">
			<p>
				<#if lastArticleInfo??>
					<a href="/article/${ lastArticleInfo.article_id }.html">上一篇：${ lastArticleInfo.title }</a>
				<#else>
					<a>上一篇：【已经是第一篇】</a>
				</#if>
			</p>
			<p>
				<#if nextArticleInfo??>
					<a href="/article/${ nextArticleInfo.article_id }.html">下一篇：${ nextArticleInfo.title }</a>
				<#else>
					<a>下一篇：【已经是最后一篇】</a>
				</#if>
			</p>
		</div>
		<div class="news_pl">
			<h2>文章评论（{{ commentNum }}）</h2>
			<form style="padding: 20px;" onsubmit="return addComment(this)">
				<div class="baseinfo-box">
					<label>您的名称：<input type="text" name="name" pattern=".{0,20}" title="20字以内" placeholder="选填" class="input" /></label> &nbsp;&nbsp;&nbsp;
					<label>联系方式：<input type="text" name="connection" max=".{0,50}" title="50字以内" placeholder="选填" class="input" /></label>
				</div>
				<div id="editor"></div>
				<div class="btn-box">
					<input type="submit" class="submit" value="评论" />
				</div>
			</form>
			<ul>
				<template v-if="commentList.length > 0">
					<li v-for="comment in commentList">
						<img class="head" src="${ STATIC_DOMAIN }/images/comment_user.png">
						<div class="comment-box">
							<div class="content">
								<div v-emoji2img="" v-highlight="" v-html="comment.content"></div>
							</div>
							<div class="info">
								<span>{{ comment.name=='' ? '匿名' : comment.name }}[{{ comment.connection=='' ? '无' : comment.connection }}]</span>&nbsp;
								<span>评论于{{ comment.add_time | timestampToStr }}</span>
							</div>
						</div>
					</li>
				</template>
				<template v-else="">
					<li style="text-align: center;">暂无评论，快来坐沙发吧~</li>
				</template>
			</ul>
			<div class="more">
				<button v-if="commentList.length > 0" class="btn" onclick="page.addPage()">加载更多</button>
			</div>
		</div>
	</div>
</article>
</#macro>

<#macro js>
<script src="${ STATIC_DOMAIN }/js/Page.js"></script>
<!--代码上色-->
<script src="https://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
<!--表情转图片-->
<script src="https://cdn.staticfile.org/emoji/0.2.2/emoji.js"></script>
<script type="text/javascript">
	var article_id = ${ articleInfo.article_id};
	console.log({
		el: '.infosbox',
		data: {
			articleInfo: {
				read_num: 0,
				like_num: 0,
			},
			commentList: [],
			commentNum: 0,
		},
		filters: {
			timestampToStr: function(value) {
				return timestampToStr(value);
			},
		},
	})
	var vueDom = new Vue({
		el: '.infosbox',
		data: {
			articleInfo: {
				read_num: 0,
				like_num: 0,
			},
			commentList: [],
			commentNum: 0,
		},
		filters: {
			timestampToStr: function(value) {
				return timestampToStr(value);
			},
		},
	});
	Vue.directive('highlight', function(el) {
		el.querySelectorAll('pre code').forEach((block) => {
			hljs.highlightBlock(block);
		});
	});
	Vue.directive('emoji2img', function(el) {
		el.innerHTML = jEmoji.unifiedToHTML(el.innerHTML);
	});
	
	(function() {
		//代码上色
		document.querySelectorAll('pre code').forEach(function(code) {
			hljs.highlightBlock(code);
		});
		
		//获取阅读数和点赞数
		ajax('get', '/article/getNum', {
			article_id: article_id,
		}, function(res) {
			vueDom.articleInfo = res;
		});
		
		//阅读数+1
		var is_read = localStorage.getItem('article_read_'+ article_id);
		if(!is_read) {
			ajax('post', '/article/read', {
				article_id: article_id,
			}, function(res) {
				vueDom.articleInfo.read_num += 1;
				localStorage.setItem('article_read_'+ article_id, 1);
			}, null, null, null, false);
		}
	})();
</script>
<!--ckeditor编辑器-->
<script src="http://47.107.246.194/ckeditor5/ckeditor.js"></script>
<script type="text/javascript">
	//获取评论列表
	function getComment() {
		ajax('get', '/articleComment/getList', {
			article_id: article_id,
			page: page.page,
			limit: page.limit,
		}, function(res) {
			res.list.forEach(function(row) {
				vueDom.commentList.push(row);
			});
			page.totalPage = Math.ceil(res.count/page.limit);
			vueDom.commentNum = res.count;
		});
	}
	
	(function() {
		//评论分页
		window.page = new Page(getComment);
		page.limit = 2;
		//获取评论列表
		getComment();
		
		//搜索框事件
		document.querySelector('form#search-form').onsubmit = function() {
			var data = getFormObj(this);
			window.location.href = '/articleSearch.html##'+ data.title;
			return false;
		}
		
		//留言编辑器
		ClassicEditor.create(document.querySelector('#editor'), {
				toolbar: {
					items: [
						'emoji',
						'codeBlock',
					],
				},
			})
			.then(function(editor) {
				window.editor = editor;
			})
			.catch(function(error) {
				console.error(error);
			});
	})();
	
	//点赞
	function like(btn) {
		btn.disabled = true;
		var is_like = localStorage.getItem('article_like_'+ article_id);
		if(is_like) {
			alert('您已经为本文章点过赞');
			btn.disabled = false;
			return;
		}
		ajax('post', '/article/like', {
			article_id: article_id,
		}, function(res) {
			vueDom.articleInfo.like_num += 1;
			localStorage.setItem('article_like_'+ article_id, 1);
		}, null, function end() {
			btn.disabled = false;
		});
	}
	
	//发表评论
	function addComment(form) {
		var data = getFormObj(form);
		data.article_id = article_id;
		data.content = editor.getData();
		if(data.content == '') {
			alert('留言内容不得为空');
			return false;
		}
		var submitBtn = form.querySelector('[type="submit"]');
		submitBtn.disabled = true;
		ajax('post', '/articleComment/add', data, function(res) {
			editor.setData('');
			vueDom.commentList = [];
			page.page = 1;
			getComment();
		}, null, function end() {
			submitBtn.disabled = false;
		});
		return false;
	}
</script>
</#macro>