<#include "layout/layout.html">

<#macro head>
<title>文章搜索_小彬个人博客 - 后端技术员个人博客网站</title>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
<style type="text/css">
	@media only screen and (max-width: 767px) {
		.l_box{display: none;}
	}
</style>
</#macro>

<#macro mainBody>
<article>
	<aside>
		<div class="l_box">
			<loadhtml url="/common/fenlei.html"></loadhtml>
			<loadhtml url="/common/tuijian.html"></loadhtml>
			<loadhtml url="/common/guanzhu.html"></loadhtml>
		</div>
	</aside>
	
	<div class="r_box">
		<div class="search" style="margin-bottom: 15px;">
			<form id="search-form">
				<select name="type_id" class="select_text" style="width: 20%;padding-left: 10px;">
					<option value="">全部分类</option>
					<#list articleTypeList as typeInfo>
						<option value="${ typeInfo.type_id }">${ typeInfo.type }</option>
					</#list>
				</select>
				<input type="text" name="title" class="input_text" style="width: 60%;" placeholder="请输入关键字查询相关文章">
				<input type="submit" class="input_submit" style="width: 20%;" value="搜索">
			</form>
		</div>
		<h4 style="margin-bottom: 15px;background: #fff;padding: 5px 12px;">文章搜索结果：共{{ articleCount }}篇</h4>
		<ul>
			<template v-if="articleList.length > 0">
				<li v-for="articleInfo in articleList">
					<i>
						<a :href="'article/'+ articleInfo.article_id +'.html'"><img :src="articleInfo.thumb_url || '${ STATIC_DOMAIN }/images/default_thumb_264x176.jpg'"></a>
					</i>
					<h3><a :href="'article/'+ articleInfo.article_id +'.html'">{{ articleInfo.title }}</a></h3>
					<p>{{ articleInfo.description }}</p>
				</li>
			</template>
			<template v-else="">
				<li>空</li>
			</template>
		</ul>
		<div class="pagelist">
			<span class="thispage">{{ page.thisPage }}</span> &nbsp;
			<a href="javascript:page.firstPage()">首页</a>
			<a href="javascript:page.subPage()">上一页</a>
			<a href="javascript:page.addPage()">下一页</a>
			<a href="javascript:page.lastPage()">末页</a> &nbsp;
			<span class="allpage">一共<b>{{ page.totalPage }}</b>页</span>
		</div>
	</div>
</article>
</#macro>

<#macro js>
<script type="text/javascript" src="${ STATIC_DOMAIN }/js/Page.js"></script>
<script type="text/javascript">
	var vueDom = new Vue({
		el: '.r_box',
		data: {
			articleList: [],
			articleCount: 0,
			page: {
				thisPage: 1,
				totalPage: 1,
			},
		},
	});
	
	//搜索框搜索事件
	document.getElementById('search-form').onsubmit = function() {
		page.page = 1;
		var data = getFormObj(this);
		window.location.hash = '#'+ data.type_id +'#'+ data.title;
		return false;
	}
	
	function search() {
		var query = getFormObj(document.querySelector('form#search-form'));
		if(query.title == '') {
			vueDom.articleList = [];
			vueDom.articleCount = 0;
			alert('关键字不得为空');
			return;
		}
		query.page = page.page;
		query.limit = page.limit;
		
		ajax('get', '/article/getList', query, function(res) {
			vueDom.articleList = res.list;
			vueDom.articleCount = res.count;
			//页码填充
			vueDom.page.thisPage = page.page;
			page.totalPage = Math.ceil(res.count/page.limit);
			vueDom.page.totalPage = page.totalPage;
		});
	}
	
	function init() {
		//页面显示数量
		page.limit = 3;
		//类型
		var hash = window.location.hash.split('#');
		var type_id = hash[1] ? hash[1] : '';
		var title = hash[2] ? decodeURIComponent(hash[2]) : '';
		document.querySelector('#search-form select[name="type_id"]').value = type_id;
		document.querySelector('#search-form input[name="title"]').value = title;
		search();
	}
	
	
	(function() {
		window.page = new Page(search);
		init();
	})();
	
	window.addEventListener('hashchange', function() {
		init();
	});
</script>
</#macro>