<#include "common/layout.html">

<#macro head>

</#macro>

<#macro mainBody>
<article>
	<aside>
		<div class="l_box">
			<div class="search">
				<form id="search-form">
					<input type="text" name="title" class="input_text" placeholder="请输入关键字查询相关文章">
					<input type="hidden" name="type_id">
					<input type="submit" class="input_submit" value="搜索">
				</form>
			</div>
			<div class="fenlei">
				<h2>文章分类</h2>
				<ul>
					<#list articleTypeList as typeInfo>
					<li>
						<a href="/articleList/${ typeInfo.type_id }/1.html">${ typeInfo.type }（${ typeInfo.article_num }）</a>
					</li>
					</#list>
				</ul>
			</div>
			<div class="tuijian">
				<h2>站长推荐</h2>
				<ul>
				<#list articleRecommendList as articleInfo>
					<li>
						<a href="/article/${ articleInfo.article_id}.html">${ articleInfo.title }</a>
					</li>
				</#list>
				</ul>
			</div>
			<!--<div class="cloud">
				<h2>标签云</h2>
				<ul>
					<a href="/">陌上花开</a>
				</ul>
			</div>-->
			<div class="guanzhu">
				<h2>关注我 么么哒</h2>
				<ul>
					<img src="${ userInfo.share_code_img_url }">
				</ul>
			</div>
		</div>
	</aside>
	
	<div class="r_box">
		<h4 style="margin-bottom: 15px;background: #fff;padding: 5px 12px;">文章分类： ${ articleType }，共${ articleBox.count }篇</h4>
		<ul>
		<#if (articleBox.list?size > 0)>
			<#list articleBox.list as articleInfo>
			<li>
				<i>
					<a href="/article/${ articleInfo.article_id }.html"><img src="${ articleInfo.thumb_url ! STATIC_DOMAIN+'/images/default_thumb_264x176.jpg' }"></a>
				</i>
				<h3><a href="/article/${ articleInfo.article_id }.html">${ articleInfo.title }</a></h3>
				<p>${ articleInfo.description }</p>
			</li>
			</#list>
		<#else>
			<li>空</li>
		</#if>
		</ul>
		<div class="pagelist">
			<span class="thispage">${ page.thisPage }</span> &nbsp;
			<a href="${ page.firstPage }.html">首页</a>
			<a href="${ page.lastPage }.html">上一页</a>
			<a href="${ page.nextPage }.html">下一页</a>
			<a href="${ page.endPage }.html">末页</a> &nbsp;
			<span class="allpage">一共<b>${ page.endPage }</b>页</span>
		</div>
	</div>
</article>
</#macro>

<#macro js>
	
</#macro>