<#include "layout/layout.html">

<#macro head>

</#macro>

<#macro mainBody>
<article>
	<aside>
		<div class="l_box">
			<div class="search">
				<form id="search-form">
					<input type="text" name="title" class="input_text" placeholder="请输入关键字查询相关文章">
					<input type="hidden" name="type_id">
					<input type="submit" class="input_submit" value="搜索">
				</form>
			</div>
			<loadhtml url="/common/fenlei.html"></loadhtml>
			<loadhtml url="/common/tuijian.html"></loadhtml>
			<loadhtml url="/common/guanzhu.html"></loadhtml>
		</div>
	</aside>
	
	<div class="r_box">
		<h4 style="margin: 0 0 15px 0;background: #fff;padding: 5px 12px;">文章分类： ${ articleType }，共${ articleBox.count }篇</h4>
		<ul>
		<#if (articleBox.list?size > 0)>
			<#list articleBox.list as articleInfo>
			<li>
				<i>
					<a href="/article/${ articleInfo.article_id }.html"><img src="${ articleInfo.thumb_url ! STATIC_DOMAIN+'/images/default_thumb_264x176.jpg' }"></a>
				</i>
				<h3><a href="/article/${ articleInfo.article_id }.html">${ articleInfo.title }</a></h3>
				<p>${ articleInfo.description?html }</p>
			</li>
			</#list>
		<#else>
			<li>空</li>
		</#if>
		</ul>
		<div class="pagelist">
			<span class="thispage">${ page.thisPage }</span> &nbsp;
			<a href="${ page.firstPage }.html">首页</a>
			<a href="${ page.lastPage }.html">上一页</a>
			<a href="${ page.nextPage }.html">下一页</a>
			<a href="${ page.endPage }.html">末页</a> &nbsp;
			<span class="allpage">一共<b>${ page.endPage }</b>页</span>
		</div>
	</div>
</article>
</#macro>

<#macro js>
<script type="text/javascript">
	//搜索框搜索事件
	document.getElementById('search-form').onsubmit = function() {
		var data = getFormObj(this);
		window.location.href = '/articleSearch.html#'+ data.type_id +'#'+ data.title;
		return false;
	}
</script>
<script src="${ STATIC_DOMAIN }/js/baiduSEO.js"></script>
</#macro>