<#include "layout/layout.html">

<#macro head>

</#macro>

<#macro mainBody>
<article>
	<aside>
		<div class="l_box" id="stickMe">
			<loadhtml url="/common/aboutme.html"></loadhtml>
			<loadhtml url="/common/wdxc.html"></loadhtml>
			<div class="search">
				<form id="search-form">
					<input type="text" name="title" class="input_text" placeholder="请输入关键字查询相关文章">
					<input type="hidden" name="type_id">
					<input type="submit" class="input_submit" value="搜索">
				</form>
			</div>
			<loadhtml url="/common/fenlei.html"></loadhtml>
			<loadhtml url="/common/tuijian.html"></loadhtml>
			<!--<div class="links">
				<h2>友情链接</h2>
				<ul>
					<a href="http://www.yangqq.com">杨青个人博客</a>
					<a href="http://www.yangqq.com">杨青博客</a>
				</ul>
			</div>-->
			<loadhtml url="/common/guanzhu.html"></loadhtml>
		</div>
	</aside>
	<div class="r_box">
		<ul id="articleList_ul">
		<#list articleBox.list as articleInfo>
			<li>
				<i>
					<a href="/article/${ articleInfo.article_id }.html"><img src="${ articleInfo.thumb_url ! STATIC_DOMAIN+'/images/default_thumb_264x176.jpg' }"></a>
				</i>
				<h3><a href="/article/${ articleInfo.article_id }.html">${ articleInfo.title }</a></h3>
				<p>${ articleInfo.description?html }</p>
			</li>
		</#list>
		</ul>
	</div>
</article>
</#macro>

<#macro js>
<script type="text/javascript">
	//搜索框搜索事件
	document.getElementById('search-form').onsubmit = function() {
		var data = getFormObj(this);
		window.location.href = '/articleSearch.html#'+ data.type_id +'#'+ data.title;
		return false;
	}
</script>
</#macro>