<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
	<link href="${ STATIC_DOMAIN }/css/base.css" rel="stylesheet">
	<link href="${ STATIC_DOMAIN }/css/index.css" rel="stylesheet">
	<@head>
	
	</@head>
	<link href="${ STATIC_DOMAIN }/css/m.css" rel="stylesheet">
</head>
<body>

<#include "header.html">
	
<@mainBody>

</@mainBody>

<#include "footer.html">

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="${ STATIC_DOMAIN }/js/config.js"></script>
<script src="${ STATIC_DOMAIN }/js/common.js"></script>
<script src="${ STATIC_DOMAIN }/js/commAction.js"></script>
<@js>
	
</@js>
</body>
</html>